@import "tailwindcss";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-brand-primary: #5E0089;
    --color-brand-secondary: #7F3F98;
    --color-brand-accent: #00B8E2;
}

html,
body {
    @apply bg-white dark:bg-gray-950;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}